
body {
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    font-family: 'Spartan', sans-serif;
    background-color: #450D0F;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: #C6B8CC;
    height: 200%;
    width: 1000%;
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    color: #450D0F;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.main-section {
    border: solid 2px white;
}

.first-row {
    display: flex;
    flex-direction: column;
}

.second-row {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: #C6B8CC;
    height: var(--header-height);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

header img {
    height: var(--header-height);
    margin: 5px;
}

  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #C6B8CC;
    box-shadow: var(--shadow);
    font-size: .7rem;
    padding: 5px;
    color: #450D0F;
}

.answer {
    line-height: 2.5rem;
    font-size: 1rem;
}

.symbol {
    line-height: 3rem;
}

.add {
    padding: 10px;
    flex: 50%;
    border: 2px solid #450D0F;
    margin: 10px;
    width: 250px;
}

.subtract {
    padding: 10px;
    flex: 50%;
    border: 2px solid #450D0F;
    margin: 10px;
    width: 250px;
}

.multiply {

    padding: 10px;
    flex: 50%;
    border: 2px solid #450D0F;
    margin: 10px;
    width: 250px;
}

.divide {
    padding: 10px;
    flex: 50%;
    border: 2px solid #450D0F;
    margin: 10px;
    width: 250px;
}

button {
    color: #450D0F;
    border: 2px solid #450D0F;
    margin: 10px;
}

input {
    margin: 10px;
}
